* {
box-sizing: border-box;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  text-align: center;
  /*text-shadow: 5px 10px 10px -5px white ;*/
  /*background-image: linear-gradient(to top, white 50%, grey 90%);*/
}

.undertitle {
  font-family: ' Helvetica, Arial, Pacifico';
      padding-bottom: 10px;
  /*  font-family: 'ariel';*/
}

.txtdescription {
  /*font-family: 'Pacifico';*/
    font-family: 'Helvetica';
}

.blkbg {
  background-color: black;
  /*font-family: 'Pacifico';*/
}

.education {
  background-color: grey;
  padding: 10px
}

.boxy {
    background-color: #3A3A3A;
    padding: 15px;
    margin: 25px;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -5px black ;
    /*height: 300px;*/
}

.boxheight {

}
.boxy2 {
    background-color: #F3F1F2;
    padding: 15px;
    color: black;
}

.boxy3 {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.bodybg {
  background-color: #363636;
    font-family: Helvetica;
}

.fade {
   opacity: 0.7;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
opacity: 1;
}
